@model IEnumerable<K22CNT4_TTCD1_DinhTienLuc.Models.Sach>

@{
    ViewBag.Title = "Quản lý sách";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section naviheader {
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="/Admin/Home" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/SachAdmin" class="nav-link">Sách</a>
        </li>
    </ul>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý sách</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin/Home">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Sách</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Title</h3>

            <div class="card-tools">
                <a href="/Admin/SachAdmin/add" class="btn btn-primary">Thêm mới</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Stt</th>
                        <th>Id</th>
                        <th>Id danh mục</th>
                        <th style=" width: 12%;">Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th style=" width: 18%;">Description</th>
                        <th style=" max-width: 25%; width: 20%;">Images</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = 1;
                        foreach (var item in Model)
                        {
                            <tr id="trow_@item.Id">
                                <td>@i</td>
                                <td>@item.Id</td>
                                <td>@item.IdDanhMuc</td>
                                <td style=" width: 12%;">@item.Name</td>
                                <td>@item.Quantity</td>
                                <td>@item.Price</td>
                                <td style=" width: 18%;">@item.Description</td>
                                <td style=" max-width: 25%; width: 21%;">
                                    <span class="d-block">
                                        @item.Images
                                    </span>
                                    <img src="@item.Images" width="80" />
                                </td>
                                <td>
                                    @if (item.Status == true)
                                    {
                                        <span style="color: #198754">Hiển thị</span>
                                    }
                                    else
                                    {
                                        <span style="color: #dc3545">Tạm khóa</span>
                                    }
                                </td>
                                <td>
                                    <a href="/Admin/SachAdmin/Edit/@item.Id " class="btn btn-sm btn-primary">Sửa</a>
                                    <a href="#" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete">Xóa</a>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Không có bản ghi nào!!!</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

@section scripts {
    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm("Bạn có muốn xóa bản ghi này hay không? ID: " + id);

                if (conf) {
                    $.ajax({
                        url: '/Admin/SachAdmin/delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                            } else {
                                alert("Xóa không thành công. Vui lòng thử lại.");
                            }
                        },
                        error: function (xhr, status, error) {
                            alert("Có lỗi xảy ra: " + xhr.responseText);
                        }
                    });
                }
            });
        });

    </script>
}